/* VARIABLES */
:root {
  --color-fondo-principal: #000000;
  --color-gris-oscuro: #1c1c1c;
  --color-gris-metalico: #2e2e2e;
  --color-verde-neon: #00ff00;
  --color-morado-neon: #8000ff;
  --color-blanco: #ffffff;
}

/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo-principal);
  color: var(--color-blanco);
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 45px;
}

header img {
  padding: .5rem;
  padding-left: 3.5rem;
}

main {
  height: calc(100vh - 85px);
  display: flex;
  padding: 0 5rem;
  gap: 2rem;
}

/* ESTILOS CONTENEDOR SIN ENCRIPTAR */
.contenedor-texto-sin-encriptar {
  flex: 3;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.texto-sin-encriptar {
  width: 100%;
  flex: 1;
  padding: .9rem;
  margin-bottom: .3rem;
  border-radius: 10px;
  resize: none;
  font-size: 1.3rem;
  border: 1px solid var(--color-verde-neon);
  background-color: var(--color-gris-metalico);
  color: var(--color-blanco);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  caret-color: var(--color-verde-neon);
  animation: cursor-blink 1s steps(2, start) infinite;
}

.texto-sin-encriptar:focus {
  border-color: var(--color-morado-neon);
  box-shadow: 0 0 5px var(--color-morado-neon);
  outline: none;
}

.texto-aclaracion {
  margin: .3rem 0rem;

}

.texto-aclaracion p {
  color: var(--color-morado-neon);
}

.texto-aclaracion i {
  color: var(--color-verde-neon);
}

/* ESTILO DE BOTONES */
.botones {
  text-align: center;
  margin: .8rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.btn-encriptar,
.btn-desencriptar,
.btn-copiar {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background-color: var(--color-verde-neon);
  color: var(--color-blanco);
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-copiar {
  width: 80%;
  margin-top: auto;
  display: none;
  align-self: center;
  margin-bottom: .5rem;
}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover {
  background-color: var(--color-morado-neon);
  transform: translateY(-2px);
}

.btn-encriptar:active,
.btn-desencriptar:active,
.btn-copiar:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ESTILOS CONTENEDOR ENCRIPTADO */
.contenedor-caja-encriptada {
  width: 25%;
  height: calc(100% - 1rem);
  padding: .5rem;
  background-color: var(--color-gris-oscuro);
  border-radius: 10px;
  margin-top: -1rem;
  box-shadow: 0 9px 20px rgba(60, 255, 0, 0.514);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 auto;
}

.contenedor-caja-encriptada:hover {
  box-shadow: 0 5px 25px rgba(128, 0, 255, 0.562);
}

.caja-encriptada-img {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: .5rem;
}

.caja-encriptada-img img {
  width: 70%;
}

.caja-encriptada-texto,
.caja-encriptada-parrafo {
  width: 100%;
  text-align: center;
  color: var(--color-blanco);
}

.caja-encriptada-texto {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.caja-encriptada-parrafo {
  font-size: 1rem;
}

.contenedor-texto-encriptado h3 {
  font-size: 1.4rem;
  color: var(--color-verde-neon);
  margin: .5rem;
  margin-bottom: .5rem;
}

.contenedor-texto-encriptado p {
  font-size: 1.2rem;
  margin: .5rem;
  color: var(--color-morado-neon);
}

/* MEDIA QUERIES */
@media (max-width: 999px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0rem;
  }

  .contenedor-texto-sin-encriptar {
    width: 100%;
    max-height: auto;
  }

  .contenedor-caja-encriptada {
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
  }

  .caja-encriptada-img {
    display: none;
  }

  .botones {
    gap: .5rem;
  }

  .btn-encriptar,
  .btn-desencriptar {
    width: 49%;
  }
}

@media (max-width: 480px) {
  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-encriptar,
  .btn-desencriptar {
    width: 95%;
  }

  .btn-copiar {
    width: 95%;
  }

  .caja-encriptada-texto {
    font-size: 1rem;
    margin-bottom: .2rem;
  }

  .caja-encriptada-parrafo {
    font-size: .9rem;
    margin-bottom: .2rem;
  }
}

/* ESTILOS DEL FOOTER */
footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #2e2e2e48;
  gap: 1rem;
}

footer i {
  color: var(--color-verde-neon);
  cursor: pointer;
}

footer i:hover {
  color: var(--color-morado-neon);
}